<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>

        <ui:composition template="./../WEB-INF/publicTemplate.xhtml">

            <ui:define name="title">
                About Us!
            </ui:define>

            <ui:define name="heading">
                <div  class="page-header" style="color: #d9534f;background-color: wheat">
                We welcome you again!!!
                </div>
            </ui:define>

            <ui:define name="body">
                
                <div align="right" style = " vertical-align: top; display: block;padding-right: 5%">
                    <a  href = "../index.xhtml">Main Menu </a> 
                 </div>
                <h:panelGroup rendered="#{not facesContext.validationFailed and not empty facesContext.messageList}" layout="block" class="alert alert-warning alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h:messages style="color:red" layout="table" globalOnly="false" showSummary="true" showDetail="false"/>
                </h:panelGroup>
                <br/>
                <div style="text-align: center;font-size:medium;padding-right: 7%;padding-left: 7%;font-style: italic " >
                
                    <p>
                       Global Parking Systems, Inc. is a diverse provider of professional parking, ground transportation, facility maintenance, security and event logistics services to real estate 
                       owners and managers in a wide array of markets. 
                        
                    </p> 
                    <p>
                    Our organization’s cultural underpinning is a commitment to put Innovation In Operation. That 
                    means we are constantly challenging ourselves to use our tools and cultural attributes – innovation + 
                    creativity + excellence + integrity + initiative + knowledge + technology + experience + efficiency – to 
                    develop new and better ways of doing things in order to improve the 
                    effectiveness and efficiency of everything we do. That is our promise, both to ourselves and to you
                </p>
                    <p>
                        Contact<b> Global Parking Systems, Inc.</b>	by telephone or email to place your order and begin your parking equipment installation  
                   </p>
                </div>
               
            </ui:define>
        </ui:composition>
    </body>
</html>