<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      template="./../WEB-INF/portalTemplate.xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute name="employee" type="edu.iit.sat.itmd4515.pnaika.fp.domain.Employee" required="true" />
        <cc:attribute name="readonly" type="java.lang.Boolean" required="false" default="true" />
        <cc:attribute name="action" required="false" method-signature="java.lang.String action()"/>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <h:form>
            <div class="form-group">
                    <h:outputLabel for="id" value="Emp ID  :#{cc.attrs.employee.emp_id}" />
                    <h:inputHidden id="id" value="#{cc.attrs.employee.emp_id}" />
            </div>
            <div class="form-group">
                    <h:outputLabel for="firstName" value="Employee Name" />
                    <h:inputText p:placeholder="First Name :" id="firstName" value="#{cc.attrs.employee.emp_name}" />
            </div>
            <div class="form-group">
                    <h:outputLabel for="LastUpdate" value="Last Update" />
                    <h:inputText p:placeholder="Last Update  :" id="LastUpdate" value="#{cc.attrs.employee.empLastUpdated}">
                        <f:convertDateTime type="date" dateStyle="short"/>
                    </h:inputText>
            </div>
            <ui:fragment rendered="#{not cc.attrs.readonly}">
                <div class="form-group">
                        <h:commandButton action="#{cc.attrs.action}" class="button expand" value="Save"/>
                </div>
            </ui:fragment>
        </h:form>
    </cc:implementation>
</html>