<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cc="http://xmlns.jcp.org/jsf/composite"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      template="./../WEB-INF/portalTemplate.xhtml">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute name="payment" required="false" type="edu.iit.sat.itmd4515.pnaika.fp.domain.Payment"/>
        <cc:attribute name="payments" required="true"/>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <h:dataTable style="padding-left: 10%;padding-right: 10%" class="table table-hover table-striped " value="#{cc.attrs.payments}" var="payments">
            <h:column>
                <f:facet name="header"><h:outputText value="Payment ID"/></f:facet>
                <h:outputText value="#{payments.payment_id}"/>
            </h:column>
            <h:column>
                <f:facet name="header"><h:outputText value="Name"/></f:facet>
                <h:outputText value="#{payments.payment_type}"/>
            </h:column>
        </h:dataTable>
        
            
   </cc:implementation>
</html>