<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../WEB-INF/portalTemplate.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:ezcomp="http://xmlns.jcp.org/jsf/composite/ezcomp"
                xmlns:p="http://xmlns.jcp.org/jsf/passthrough">

    <ui:define name="title">
        Payment Details 
    </ui:define>
    
    <ui:define name="heading">
        <div  class="page-header" style="color: #d9534f;background-color: wheat">
        Payment Types available in Global Reservation Systems. 
        </div>
    </ui:define>
    
    <ui:define name="body">
        <div align="right" style = " vertical-align: top; display: block;padding-right: 5%">
                <a  href = "../index.xhtml">Main Menu </a> |
                <a href="welcome.xhtml">Go Back!</a>
        </div>
        <h:panelGroup rendered="#{not facesContext.validationFailed and not empty facesContext.messageList}" layout="block" class="alert alert-warning alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h:messages style="color:red" layout="table" globalOnly="false" showSummary="true" showDetail="false"/>
        </h:panelGroup>
        
        <ezcomp:paymentDetails payments="#{paymentService.findAll()}"/>   
        
        <h:form style="width: 40%;padding: 10%;padding-top: 0px;padding-bottom: 0px">
                <tr>
                <td height="35px">
                    <h:outputLabel title="Payment Type" for="pT" value ="Payment Type:" />
                </td>
                <td height="35px" width="40px">
                    <h:inputText p:placeholder="Payment Type" class="form-control" id ="pT" value ="#{employeeBean.paymentType}"/>                       
                </td>
                <td>
                    <h:commandButton action ="#{employeeBean.createPayment()}" value ="Add new Payment Type"/>        
                </td>   
                </tr>
            </h:form>

        <hr/>
        <h:form><h:commandLink action="#{loginBean.doLogout()}" value="Logout"/></h:form>
        
    </ui:define>

</ui:composition>
