<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ezcomp="http://xmlns.jcp.org/jsf/composite/ezcomp">
  
    <ui:composition template="./../WEB-INF/publicTemplate.xhtml">
        <ui:define name="title">
            Employee Profile!
        </ui:define>

        <ui:define name="heading">
            <div  class="page-header" style="color: #d9534f;background-color: wheat">
            Please Update the information!
            </div>
        </ui:define>

        <ui:define name="body">
             <div align="right" style = " vertical-align: top; display: block;padding-right: 5%">
                <a  href = "../index.xhtml">Main Menu </a> |
                <a href="welcome.xhtml">Go Back!</a>
            </div>
            
            <h:panelGroup rendered="#{not facesContext.validationFailed and not empty facesContext.messageList}" layout="block" class="alert alert-warning alert-dismissible">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h:messages style="color:red" layout="table" globalOnly="false" showSummary="true" showDetail="false"/>
            </h:panelGroup>
            <hr/>
            <ezcomp:empProfile employee="#{employeeUpdateBean.employee}"  action="#{employeeUpdateBean.saveEmployee()}" readonly="false"/>
            
            <hr/>
            <h:form><h:commandLink action="#{loginBean.doLogout()}" value="Logout"/></h:form>
        </ui:define>
    </ui:composition>
</html>