<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../WEB-INF/portalTemplate.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:ezcomp="http://xmlns.jcp.org/jsf/composite/ezcomp">

    <ui:define name="title">
        Employee Portal 
    </ui:define>
    
    <ui:define name="heading">
        <div  class="page-header" style="color: #d9534f;background-color: wheat">
            Welcome #{loginBean.remoteUser.toUpperCase()},Please select from the menu below! 
        </div>
    </ui:define>
    
    <ui:define name="body">
        <h:panelGroup rendered="#{not facesContext.validationFailed and not empty facesContext.messageList}" layout="block" class="alert alert-warning alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h:messages style="color:red" layout="table" globalOnly="false" showSummary="true" showDetail="false"/>
        </h:panelGroup>
        <br/>
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td>All the Employee Records </td><td> <a href="/pnaika-fp/employeePortal/empRecords.xhtml">CLICK HERE!</a></td>   
                </tr>
                <tr>
                    <td>All the Customer Records </td><td> <a href="/pnaika-fp/employeePortal/custRecords.xhtml">CLICK HERE!</a></td>   
                </tr>
                <tr>
                    <td>Payment Information </td><td> <a href="/pnaika-fp/employeePortal/payInfo.xhtml">CLICK HERE!</a></td>   
                </tr>
                <tr>
                    <td>Vehicle Types in the system </td><td> <a href="/pnaika-fp/employeePortal/vehTypes.xhtml">CLICK HERE!</a></td>   
                </tr>
                <tr>
                    <td>Billing Information </td><td> <a href="/pnaika-fp/employeePortal/billing.xhtml">CLICK HERE!</a></td>   
                </tr>
                <tr>
                    <td>Do you want to Update your profile ? </td><td> <a href="/pnaika-fp/employeePortal/updateProfile.xhtml">CLICK HERE!</a></td>   
                </tr>
            </tbody>   
        </table>
        <hr/>
        <h:form><h:commandLink action="#{loginBean.doLogout()}" value="Logout"/></h:form>
    </ui:define>

</ui:composition>
