<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../WEB-INF/portalTemplate.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="title">
        Customer Billing History
    </ui:define>
    
    <ui:define name="heading">
        <div  class="page-header" style="color: #d9534f;background-color: wheat">
            Reservation History of #{loginBean.remoteUser.toUpperCase()}
        </div>
    </ui:define>
    <ui:define name="body">
        <div align="right" style = " vertical-align: top; display: block;padding-right: 5%">
            <a  href = "../index.xhtml">Main Menu </a> |
            <a href="welcome.xhtml">Go Back!</a>
        </div>
        
        <h:panelGroup rendered="#{not facesContext.validationFailed and not empty facesContext.messageList}" layout="block" class="alert alert-warning alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h:messages style="color:red" layout="table" globalOnly="false" showSummary="true" showDetail="false"/>
        </h:panelGroup>
        
        <br/>
        <h:dataTable border="3" width="100%" style="alignment-adjust: central" value="#{customerService.findByUsername(loginBean.remoteUser)}" var="customer">         
            <h:column>
                <f:facet name="header"><h:outputText value="Customer ID"/></f:facet>
                <h:outputText value="#{customer.cust_id}"/>
            </h:column>
            <h:column>
                <f:facet name="header"><h:outputText value="Customer Name"/></f:facet>
                <h:outputText value="#{customer.cust_name}"/>
            </h:column>
            <h:column>
                <h:dataTable border="1" width="100%" value="#{billingService.findCustId(customer.cust_id)}" var="billDetails">
                    <h:column>
                        <f:facet name="header"><h:outputText value="BillingID"/></f:facet>
                        <h:outputText value="#{billDetails.billing_id}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header"><h:outputText value="Billing Date"/></f:facet>
                        <h:outputText value="#{billDetails.bill_date}"/>
                    </h:column>
                </h:dataTable>
            </h:column>
            <h:column>
                <h:dataTable border="1" width="100%" value="#{parkingService.findCustId(customer.cust_id)}" var="parkDetails">
                    <h:column>
                        <f:facet name="header"><h:outputText value="Parking Date"/></f:facet>
                        <h:outputText value="#{parkDetails.parking_date}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header"><h:outputText value="Parking Charges"/></f:facet>
                        <h:outputText value="#{parkDetails.parking_amount}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header"><h:outputText value="Hours Parked"/></f:facet>
                        <h:outputText value="#{parkDetails.parking_hours}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header"><h:outputText value="Parking Slot Name"/></f:facet>
                        <h:outputText value="#{parkDetails.parking_slotname}"/>
                    </h:column>
                </h:dataTable>
            </h:column>
        </h:dataTable>            
        <br/>
        
        <hr/>
        <h:form><h:commandLink action="#{loginBean.doLogout()}" value="Logout"/></h:form>
    </ui:define>

</ui:composition>
