<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ezcomp="http://xmlns.jcp.org/jsf/composite/ezcomp">
  
    <ui:composition template="./../WEB-INF/publicTemplate.xhtml">
        <ui:define name="title">
            Customer Profile
        </ui:define>

        <ui:define name="heading">
            <div  class="page-header" style="color: #d9534f;background-color: wheat">
            Please Update the information!
            </div>
        </ui:define>

        <ui:define name="body">
            
            <div align="right" style = " vertical-align: top; display: block;padding-right: 5%">
                <a  href = "../index.xhtml">Main Menu </a> |
                <a href="welcome.xhtml">Go Back!</a>
            </div>

            <hr/>
            <br/>
            <ezcomp:custProfile customer="#{customerBean.customer}"  action="#{customerBean.saveCustomer()}" readonly="false"/>
                        <hr/>
            <h:form><h:commandLink action="#{loginBean.doLogout()}" value="Logout"/></h:form>
        </ui:define>
    </ui:composition>
</html>