<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../WEB-INF/portalTemplate.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="title">
        Customer Portal
    </ui:define>

    <ui:define name="heading">
         <div  class="page-header" style="color: #d9534f;background-color: wheat">
        Welcome #{loginBean.remoteUser.toUpperCase()}, Please select from the menu below!
         </div>
    </ui:define>
    
    <ui:define name="body">
        
        <h:panelGroup rendered="#{not facesContext.validationFailed and not empty facesContext.messageList}" layout="block" class="alert alert-warning alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h:messages style="color:red" layout="table" globalOnly="false" showSummary="true" showDetail="false"/>
        </h:panelGroup>
        <br/>
        <hr/>
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td>Want to Reserve the site for your vehicle </td><td> <a href="/pnaika-fp/customerPortal/reserve.xhtml">CLICK HERE!</a></td>   
                </tr>
                <tr>
                    <td>Want to See your Reservation? </td><td> <a href="/pnaika-fp/customerPortal/oldReservation.xhtml">CLICK HERE!</a></td>   
                </tr>
                <tr>
                    <td> Do you want to Update your profile ? </td><td> <a href="/pnaika-fp/customerPortal/updateProfile.xhtml">CLICK HERE!</a></td>   
                </tr>
            </tbody>   
        </table>        
        
        <br/>
        
        
        <h:form><h:commandLink action="#{loginBean.doLogout()}" value="Logout"/></h:form>
    </ui:define>

</ui:composition>
