<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Login Error</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <style>
            header{
                text-align: center;
                font-family: 'Lora', serif;
                width: auto;
                height:auto;
                font-size: 45px;
                padding: 0 15px 0 15px;
                border-color: black;
            }
        </style>
    </h:head>
    <h:body>
        <div class="page-header">
            <header>Invalid user name or password.</header>
        </div>
        <p><a href="/pnaika-fp/logout">LOGOUT NOW and TRY AGAIN !!</a></p>
    </h:body>
</html>

