<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Status Code 403</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <style>
            header{
                text-align: center;
                font-family: 'Lora', serif;
                width: auto;
                height:auto;
                font-size: 45px;
                padding: 0 15px 0 15px;
                border-color: black;
            }
        </style>
    </h:head>
    <h:body>
        <div class="page-header">
            <header>You are not Authorized, Please contact administrator</header>
        </div>
        <p><a href="/pnaika-fp/logout">LOGOUT NOW and TRY AGAIN !!</a></p>
        <br>
        </br>
        <a href="/pnaika-fp/site/apidocs/index.xhtml"><strong>Please click here to see <u> JAVA DOC</u></strong></a>
    </h:body>
</html>

