<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./WEB-INF/publicTemplate.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://xmlns.jcp.org/jsf/passthrough">

     
        <ui:define name="title">
            User LogIn !
        </ui:define>

        <ui:define name="heading">
            <div  class="page-header" style="color: #d9534f;background-color: wheat">
            Please enter UserName and Password! 
            </div>
        </ui:define>
    
    <ui:define name="body">
        
        <h:panelGroup rendered="#{not facesContext.validationFailed and not empty facesContext.messageList}" layout="block" class="alert alert-warning alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h:messages style="color:red" layout="table" globalOnly="false" showSummary="true" showDetail="false"/>
        </h:panelGroup>
        
        #{loginBean.checklogedin()}
        <div align="right" style = " vertical-align: top; display: block;padding-right: 5%">
            <a  href ="/pnaika-fp/common/signup.xhtml" >Employee Sign up </a> |
            <a  href ="/pnaika-fp/common/customersignup.xhtml" >Customer Sign up </a>|
            <a  href = "../index.xhtml">Home</a> 
        </div>
       
        <h:form id="SIform">     
            <div class="form-group">
                <label for="j_username" class="col-sm-2 control-label">Username</label>
                <h:inputText class="form-control" p:placeholder="Username" id="j_username" value="#{loginBean.username}"/>
            </div>
            <div class="form-group">
                <label for="j_password" class="col-sm-2 control-label">Password</label>
                <h:inputSecret  class="form-control" p:placeholder="Password" id="j_password" value="#{loginBean.password}"/>
            </div>
            <h:commandButton class="btn btn-primary btn-sm btn-block" action="#{loginBean.doLogin()}" value="Login"/>
            <h:commandButton class="btn btn-primary btn-sm btn-block" type="reset" value="Reset"/>
            
	</h:form>
    </ui:define>

</ui:composition>
