<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>User Login</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link href='http://fonts.googleapis.com/css?family=Lora:400,700' rel='stylesheet' type='text/css'/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"/>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>   
        <style>
            *{
                font-family: 'Lora', serif;
            }
            header{
                text-align: center;
                width: auto;
                height:auto;
                font-size: 45px;
                padding: 0 15px 0 15px;
                border-color: black;
            }
            #SIform{
                width:25%;
                padding: 20px 20px 10px 15px;
                margin: 20px 20px 10px 15px;
                margin-left: 38%;
                font-family: 'Lora', serif;
            }
        </style>
        
        <script>
            function FormValidation(){
                //User Name Validation 
                var un=document.getElementById('j_username').value;
                if(un === ""){
                    alert('User name is mandatory');
                    document.getElementById('j_username').style.borderColor = "red";
                    document.getElementById('j_username').focus();
                    document.getElementById('j_username').select();
                    return false;
                }

                //password Validation 
                var pw=document.getElementById('j_password').value;
                if(pw === ""){
                    alert('Please Enter PASSWORD');
                    document.getElementById('j_password').style.borderColor = "red";
                    document.getElementById('j_password').focus();
                    document.getElementById('j_password').select();        
                    return false;
                }
            }
        </script>

    </h:head>
    <h:body>
        
        <div class="page-header">
            <header>User Login</header>
          </div>
	<form id="SIform" method="post" action="j_security_check" onsubmit="return FormValidation()">
	  <div class="form-group">
	    <label for="j_username">Username:</label>
	    <input type="text" class="form-control" id="j_username" placeholder="User Name" name="j_username"/>
	  </div>
	  <div class="form-group">
	    <label for="j_password">Password :</label>
	    <input type="password" class="form-control" id="j_password" placeholder="Password" name="j_password"/>
	  </div>
	  <button type="submit" class="btn btn-primary btn-sm btn-block">Log In</button>
          <button type="reset" class="btn btn-primary btn-sm btn-block"> Clear</button>
	</form>	
        <a href="/pnaika-mp4/site/apidocs/index.html"><strong>Please click here to see <u> JAVA DOC</u></strong></a>

    </h:body>
</html>

